
body{
    padding: 0px;
    margin: 0px;
    background-image: url('concrete_wall.png');
}

.apod{
    
   height: 50%;
   width: 50%;
   border-radius: 20%;
   margin-left: 20%;
}



.wrapper{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    margin-left: 30%;
    margin-top: 20%;
}


.astroid{
    height: 30%;
    width: 30%;
    position: relative;
    display: block;
    border: white solid;
    margin-bottom: 2%;
}

.earthWrapper{
    height: 100%;
    width: 100%;
    margin-left: 30%;
    border-radius: 20%;
}

.mars{
    height: 50%;
    width: 50%;
    border: solid;
}